.page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.jumbo {
  margin-bottom: 0!important;
  padding: 0!important;
  height: 100vh!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.dashboard_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-template-areas: "m m m"
                       "i i s"
                       "f f f";
  font-size: 1.5em;
  padding: 10px;
  width: 100%;
  padding-top: 0;
}

.map_container {
  grid-area: m;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 57px; 
}

.issues_container {
  grid-area: i;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar_container {
  grid-area: s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}



.issues_header_card {
  padding: 20px;
  color: rgb(206, 14, 14);
  font-size: 1.2em;
  background-color: #fff;
}

.issues_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  margin: 10px 0 10px 0;
  box-shadow: 0 5px 10px rgba(146, 137, 137, 0.548);
}

.new_issue_header {
  padding: 20px;
  color: black;
  font-size: 1.2em;
}

.contributor_profile_pic {
  height: 8vh;
  border-radius: 50%;
  margin: 7px 0;
}

.top_contributors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: .6em;
}

.top_contributors > p {
  margin: 4px 0 0 0;
}

.contributor_profile_pics {
  background-color: rgb(161, 161, 161);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.issues_resolved,
.member_count {
  background-color: rgb(221, 229, 236);
  box-shadow: 0 5px 10px rgba(146, 137, 137, 0.548);
  display: flex;
}

.sidebar_container > div:not(:last-child) {
  margin-bottom: 2vh;
}

.sidebar_container p {
  margin-left: 2vw;
}

.share_link {
  font-size: .7em;
}

.share_link > p:first-child {
  background-color: rgb(196, 196, 196);
  width: fit-content;
  margin: 0;
  padding: 5px;
  box-shadow: 0 5px 10px rgba(146, 137, 137, 0.548);
}
.share_link > p:last-child {
  background-color: white;
  margin: 0;
  padding: 5px;
  box-shadow: 0 5px 10px rgba(146, 137, 137, 0.548);
}

.create_btn {
  padding: 8px 5vw 8px 5vw;
  font-size: 0.9em;
  color: #fff;
  background-color: #036df2;
  border-radius: 5px;
}

.btn_box {
  align-self: flex-end;
}

.new_issue_container {
  margin-left: 100px;
  grid-area: i;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.issues_card_profile_pic {
  border-radius: 50%;
  width: 20vw;
  margin-left: 15px;
}

.issue_name {
  margin: 0;
  font-weight: 300;
  font-size: 1.1em;
}

.issue_description {
  margin-left: 15px;
  font-size: 0.8em;
}

.resolve_btn {
  padding: 8px 5vw 8px 5vw;
  font-size: 0.9em;
  color: #fff;
  background-color: #036df2;
  border-radius: 5px;
}

.issue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.issue_box {
  padding: 15px;
  margin-left: 20px;
}

.landing_container {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing_box {
  height: 60vh;
  width: 40vw;
  margin-bottom: 2vh;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 8px 70px 12px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 70px 12px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 70px 12px rgba(0,0,0,0.75);
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.landing_header {
  grid-area: a;
  font-size: 3.6em;
  font-weight: 300;
  margin: 20px 0;
}

.landing_sign_up {
  grid-area: a;
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
}

.form_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.form_row > input, .form_row > select {
  margin-left: 10px;
  border-radius: 3px;
  padding: 8px;
  border: 1px silver solid;
  font-size: .8em;
  line-height: 10px;
  height: 25px;
}

.form_row > input[type="submit"] {
  padding: 20px;
  line-height: 0;
  background-color: #0067E2;
  border: none;
  color: white;
  margin-top: 10px;
}

.form_row > input[type="submit"]:hover {
  background-color: rgb(0, 94, 209);
}

.nav-link {
  color: black!important;
}

@media (max-width: 700px) {
  .container {
    grid-template-areas: "m m m"
                         "i i i"
                         "s s s"
                         "f f f";
    font-size: .8em;
  }
}
